@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: #151f29;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #4a41c2;
    border-radius: 4px;
  }
}
